<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>This is title</title>
</head>
<body>
    <p>
        <h1>This is my greetings page</h1>
        <p th:text="'Hello, ' + ${name} + '!'" />
    </p>

    <table>
        <thead>
        <tr>
            <th> Name </th>
            <th> Username </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${employeelist.empty}">
            <td colspan="2"> No Employee Available </td>
        </tr>
        <tr th:each="employee : ${employeelist}">
            <td><span th:text="${employee.name}"> Name </span></td>
            <td><span th:text="${employee.username}"> Username </span></td>
        </tr>
        </tbody>

    </table>
    <br/>
    <a href="#">CLICK HERE</a>

</body>
</html>